In [3]:
import pandas as pd
import numpy as np
import bz2
import patoolib
import os
import requests
import glob

## Gathering

In [4]:
df_2008= pd.read_csv('data/2008.csv', nrows=None, encoding='latin-1')
df_2008.shape

(7009728, 29)

In [5]:
df_2008.sample(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6613490,2008,12,24,3,940.0,945,1120.0,1129,OH,6622,...,7.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3615378,2008,7,6,7,1151.0,1150,1409.0,1420,WN,3405,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2257767,2008,4,2,3,1842.0,1855,1934.0,2001,9E,5863,...,14.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1183914,2008,3,5,3,608.0,610,703.0,710,WN,1247,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3283639,2008,6,23,1,832.0,830,1110.0,1106,US,143,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1186840,2008,3,6,4,757.0,805,1038.0,1100,WN,2896,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3001504,2008,6,4,3,608.0,600,707.0,710,WN,3853,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4083491,2008,7,22,2,1831.0,1835,1954.0,1951,9E,4706,...,12.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
299596,2008,1,2,3,1518.0,1445,1939.0,1920,WN,120,...,3.0,13.0,0,NaN,0,14.0,0.0,0.0,0.0,5.0
4184610,2008,7,11,5,626.0,630,801.0,810,CO,625,...,4.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

## Assessing

In [6]:
df_2008.head(30).T

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
Year,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,...,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
Month,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
DayofMonth,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
DayOfWeek,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
DepTime,2003,754,628,926,1829,1940,1937,1039,617,1620,...,706,1657,1900,1039,801,1520,1422,1954,636,734
CRSDepTime,1955,735,620,930,1755,1915,1830,1040,615,1620,...,705,1625,1840,1030,800,1455,1255,1925,635,730
ArrTime,2211,1002,804,1054,1959,2121,2037,1132,652,1639,...,807,1754,1956,1133,902,1619,1657,2239,921,958
CRSArrTime,2225,1000,750,1100,1925,2110,1940,1150,650,1655,...,810,1735,1950,1140,910,1605,1610,2235,945,1020
UniqueCarrier,WN,WN,WN,WN,WN,WN,WN,WN,WN,WN,...,WN,WN,WN,WN,WN,WN,WN,WN,WN,WN
FlightNum,335,3231,448,1746,3920,378,509,535,11,810,...,68,623,717,1244,2101,2553,188,1754,2275,550
TailNum,N712SW,N772SW,N428WN,N612SW,N464WN,N726SW,N763SW,N428WN,N689SW,N648SW,...,N497WN,N724SW,N786SW,N714CB,N222WN,N394SW,N215WN,N243WN,N454WN,N712SW
ActualElapsedTime,128,128,96,88,90,101,240,233,95,79,...,61,57,56,54,61,59,155,165,165,324
CRSElapsedTime,150,145,90,90,90,115,250,250,95,95,...,65,70,70,70,70,70,195,190,190,350
AirTime,116,113,76,78,77,87,230,219,70,70,...,51,47,49,47,53,50,143,155,147,314
ArrDelay,-14,2,14,-6,34,11,57,-18,2,-16,...,-3,19,6,-7,-8,14,47,4,-24,-22
DepDelay,8,19,8,-4,34,25,67,-1,2,0,...,1,32,20,9,1,25,87,29,1,4
Origin,IAD,IAD,IND,IND,IND,IND,IND,IND,IND,IND,...,ISP,ISP,ISP,ISP,ISP,ISP,ISP,ISP,ISP,ISP
Dest,TPA,TPA,BWI,BWI,BWI,JAX,LAS,LAS,MCI,MCI,...,BWI,BWI,BWI,BWI,BWI,BWI,FLL,FLL,FLL,LAS
Distance,810,810,515,515,515,688,1591,1591,451,451,...,220,220,220,220,220,220,1093,1093,1093,2283
TaxiIn,4,5,3,3,3,4,3,7,6,3,...,3,5,2,2,3,2,6,3,5,2
TaxiOut,8,10,17,7,10,10,7,7,19,6,...,7,5,5,5,5,7,6,7,13,8
Cancelled,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CancellationCode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Diverted,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CarrierDelay,NaN,NaN,NaN,NaN,2,NaN,10,NaN,NaN,NaN,...,NaN,7,NaN,NaN,NaN,NaN,40,NaN,NaN,NaN
WeatherDelay,NaN,NaN,NaN,NaN,0,NaN,0,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
NASDelay,NaN,NaN,NaN,NaN,0,NaN,0,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
SecurityDelay,NaN,NaN,NaN,NaN,0,NaN,0,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
LateAircraftDelay,NaN,NaN,NaN,NaN,32,NaN,47,NaN,NaN,NaN,...,NaN,12,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN

### Variable descriptions
        Name	         Description
    1	Year	          2008
    2	Month	           1-12
    3	DayofMonth	       1-31
    4	DayOfWeek     	   1 (Monday) - 7 (Sunday)
    5	DepTime	           actual departure time (local, hhmm)
    6	CRSDepTime 	       scheduled departure time (local, hhmm) X
    7	ArrTime   	       actual arrival time (local, hhmm)
    8	CRSArrTime	       scheduled arrival time (local, hhmm)  X
    9	UniqueCarrier	   unique carrier code                   X        
    10	FlightNum	       flight number                         X
    11	TailNum	           plane tail number                     X
    12	ActualElapsedTime  in minutes
    13	CRSElapsedTime	   in minutes
    14	AirTime	           in minutes
    15	ArrDelay	       arrival delay, in minutes
    16	DepDelay	       departure delay, in minutes
    17	Origin	           origin IATA airport code
    18	Dest	           destination IATA airport code
    19	Distance	       in miles
    20	TaxiIn	           taxi in time, in minutes
    21	TaxiOut	           taxi out time in minutes
    22	Cancelled	       was the flight cancelled?
    23	CancellationCode   reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
    24	Diverted	       1 = yes, 0 = no
    25	CarrierDelay	   in minutes
    26	WeatherDelay	   in minutes
    27	NASDelay	       in minutes
    28	SecurityDelay	   in minutes
    29	LateAircraftDelay  in minutes

In [7]:
df_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
DepTime              float64
CRSDepTime           int64
ArrTime              float64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               float64
TaxiOut              float64
Cancelled            int64
CancellationCode     object
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB

In [8]:
# Join dataframes along rows
#df = pd.concat([df_1999, df_2000, df_2001, df_2002, df_2003, df_2004, df_2005, df_2006, df_2007, df_2008])

In [9]:
df_2008.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
Year                 7009728 non-null int64
Month                7009728 non-null int64
DayofMonth           7009728 non-null int64
DayOfWeek            7009728 non-null int64
DepTime              6873482 non-null float64
CRSDepTime           7009728 non-null int64
ArrTime              6858079 non-null float64
CRSArrTime           7009728 non-null int64
UniqueCarrier        7009728 non-null object
FlightNum            7009728 non-null int64
TailNum              6926363 non-null object
ActualElapsedTime    6855029 non-null float64
CRSElapsedTime       7008884 non-null float64
AirTime              6855029 non-null float64
ArrDelay             6855029 non-null float64
DepDelay             6873482 non-null float64
Origin               7009728 non-null object
Dest                 7009728 non-null object
Distance             7009728 non-null int64
TaxiIn               6858079 non-null float64
TaxiOut              6872670 non-null float64
Cancelled            7009728 non-null int64
CancellationCode     137434 non-null object
Diverted             7009728 non-null int64
CarrierDelay         1524735 non-null float64
WeatherDelay         1524735 non-null float64
NASDelay             1524735 non-null float64
SecurityDelay        1524735 non-null float64
LateAircraftDelay    1524735 non-null float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB

In [10]:
df_2008.groupby("Cancelled").size().sort_values(ascending=False)

Cancelled
0    6872294
1     137434
dtype: int64

In [8]:
cancel_delay = df_2008.Cancelled.value_counts()
cancel_delay

0    6872294
1     137434
Name: Cancelled, dtype: int64

In [13]:
df_2008.DepDelay.describe()

count    6.873482e+06
mean     9.972570e+00
std      3.531127e+01
min     -5.340000e+02
25%     -4.000000e+00
50%     -1.000000e+00
75%      8.000000e+00
max      2.467000e+03
Name: DepDelay, dtype: float64

In [14]:
df_2008.ArrDelay.describe()

count    6.855029e+06
mean     8.168452e+00
std      3.850194e+01
min     -5.190000e+02
25%     -1.000000e+01
50%     -2.000000e+00
75%      1.200000e+01
max      2.461000e+03
Name: ArrDelay, dtype: float64

In [15]:
# Out of all delayed flights, percent of cancelled
if cancel_delay[0] + cancel_delay[1] > 0:
    cancelled_ratio = cancel_delay[1] / (cancel_delay[0] + cancel_delay[1])
cancelled_ratio

0.019606181580797428

## Cleaning
- Erroneous Datatype: tweet_id, timestamp
- Manage missing values, Null values
- drop un necessary columns: 'CRSDepTime', 'CRSArrTime','TailNum','FlightNum', 'TaxiIn', 'TaxiOut','ActualElapsedTime','CRSElapsedTime','AirTime'

In [ ]:
#

In [ ]:
# create a day column and assign the value 1 to the entire column
df['day'] = 1
# create a date column from the year, month, and day columns
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
# drop the year, month, and day columns
df.drop(columns=['year', 'month', 'day'], inplace=True)

## Analysing